@{
    ViewBag.Title = "About";
}

<h2 align="center">:: About Us ::</h2>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

<div class="jumbotron bg-div">
    <p class="lead">
        <ul style="list-style-type:none">
            <li class="lead text-white">
                <i class="fa-solid fa-circle-right"></i>
                A chit fund, also known as a chit scheme or chitty, is a type of financial arrangement or savings scheme that is commonly
                found in many parts of the world, particularly in India.
            </li>
            <li class="lead text-white">
                <i class="fa-solid fa-circle-right"></i>
                It operates as a rotating savings and credit association among a group of individuals, typically friends, family members,
                or members of a community or organization.
            </li>
        </ul>
    </p>
</div>
<div class="container-fluid row">
    <h3 style="background-color:rgb(32 11 249 / 0.75); width:470px; color:white;">Chit funds are popular for several reasons:</h3>
    <div class="col-md-4 bg-div-card">
        <h3>Access to Funds</h3>
        <p class="text-white">
            Participants in chit funds can access a lump sum of money when they need it,
            without resorting to loans or credit from banks.
        </p>
    </div>
    <div class="col-md-4 bg-div-card">
        <h3>Savings and Investment</h3>
        <p class="text-white">
            Chit funds encourage regular saving and can serve as an investment vehicle for participants.
            The lump-sum payouts can be used for investments in businesses or other income-generating activities.
        </p>
    </div>
    <div class="col-md-4 bg-div-card">
        <h3>Community and Trust</h3>
        <p class="text-white">
            Chit funds often involve close-knit communities or groups of people who trust each other.
            This can make them an attractive option for those who prefer dealing with familiar faces.
        </p>
    </div>
</div>

